.navbar{
    display: flex;
    justify-content: center;
}

.navbar .container{
    width: 2000px;
    background-color: rgb(19, 138, 88);
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
}

.navbar .container .logo{
    font-size: 45px;
    font-weight: bold;
}

.navbar .container .logo .text{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.navbar .container .links{
    display: flex;
    align-items: center;
    gap:30px;
    font-weight: 500;
}

#bt1{
    color:azure;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid white;
    background-color: transparent;
}

#bt1:hover{
    background-color: azure;
    border-color: azure;
    color: rgb(19, 138, 88);
}